.MyContainer{
    width: 80%;
    margin-left: 10%;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	height: auto;
	font-size: 20px;
}

.labelText {
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;
	height: auto;
	font-size: 20px; 
	
}

@media screen and (max-width: 768px /*sm*/) {
	.text-r {
		float: left;
	}
}