.MyContainer{
    width: 80%;
    margin-left: 10%;
}


input[type=text], input[type=password], input[type=email], input[type=tel], .labelText {
    width: 100%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;  
	height: auto;
	font-size: 20px;
}
   
input[type=text], input[type=password], input[type=email], input[type=tel]{
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.fieldHide, input[type=password]{
    display: none;
}

.labelText {
    text-align: center;	
}

#bntModify, #bntExit, #bntSave{
    margin-left: 7em;
    width: 50%;
}

