.mh4em {
	min-height: 4em;
}

.h5em {
    height: 5em;
}

.h3em {
    height: 3em;
}

.h2em{
    height: 2em;
}

.cardBack {
	background: rgb(188, 203, 221);
}

.card-title {
	font-size: 25px;	
}

@media (min-width: 279px) {
	.card-title {
		font-size: 14px;	
	}
}

@media (min-width: 630px) {
	.card-title {
		
		font-size: 16px;	
	}
}

@media (min-width: 100px) {
    .card-columns {
        column-count: 1;
    }
}


@media (min-width: 700px) {
    .card-columns {
        column-count: 2;
    }
}


@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
	.card-title {
		font-size: 18px;	
	}
}

@media (min-width: 1700px) {
    .card-columns {
        column-count: 5;
    }
}

.paddingbutton {
	padding-top: 0.5em;
}

.evalbtn {
	width: 50%;
	height: auto;
	border-radius: 25px;
	background-color: rgb(196,160, 0, 0.3);
	color: black;
}
