.h3em{
    height: 3em;
}

.h2em{
    height: 2em;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}


@media (min-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1600px) {
    .card-columns {
        column-count: 3;
    }
}
