.mh4em {
	min-height: 4em;
}

.h3em {
    height: 3em;
}

.h2em{
    height: 2em;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}


@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1700px) {
    .card-columns {
        column-count: 5;
    }
}
