@import url('https://fonts.googleapis.com/css?family=Galada');

body, html {
	/*font-family: Sans-Serif;*/
	height: 100%;
	width: 100%;
	font-family: Old Standard TT;
}

section {
	height: auto; 
	width: 100%;
}

.myContainer{
	width: 95%;
	margin-left: 2.5%;
}

.myContainer-padding {
    padding: 16px;
}

#homeView {
	min-height: 100%;
	background-image: url("img/SfondoTime.jpeg");
	background-attachment: fixed; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#DettagliSito{
	min-height: 50%;
	background-color: grey;
}

#DettagliSitoTesto{
	padding-top:10vh;
}

#TabellaLast5{
	min-height: 50%;
	background-color: grey;
}

#RicercaMappa{
	min-height: 100%;
}

.myTitle{
	font-family: galada; 
	font-size: 15vh;
	color:whitesmoke;
}


.textMap-r {
	float: right;
}

input[type=textMap] {
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	height: 10%;
	font-size: 12px;
}

@media screen and (max-width: 768px /*sm*/), screen and (max-width: 900px) {
	input[type=textMap] {
		width: 100%;
	}
}