body, html {
	/*font-family: Sans-Serif;*/
	height: 100%;
	width: 100%;
	font-family: Old Standard TT;
}

section {
	min-height: 100%;
	height: auto; 
	width: 100%;
}

.myContainer{
	width: 95%;
	margin-left: 2.5%;
}

.myContainer-padding {
    padding: 16px;
}

#homeView {
	background-image: url("img/SfondoTime.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}








/*----------------------------------*/






.jumbotron h1, .jumbotron p {
	font-family: "Verdana";
	text-align: center;
}

.jumbotron h1 {
	color: darkgreen;
}

.jumbotron p {
	color: black;	
	font-family: Old Standard TT;
	font-size: 16px;
}

.infoJumbo {
	font-family: Old Standard TT;
	margin-top: 10%;
	float: right;
	margin-right: 10%;
	min-height: 200px;
	height: auto;
	padding: 2%;
	background-color: rgb(200, 200, 200, 0.8);
	border-radius: 25px;
}

@media screen and (max-width: 768px /*sm*/), screen and (max-width: 900px) {
	
	.jumbotron {
		font-size: 10px;
		float: left;
		width: 90%;
	}

}
