.tableTitle {
	float: right;
	color: white;
	margin-right: 10%;
}

table, th, td {
	border: 1px solid rgb(100, 100, 100);
	text-align: center;
	background-color: rgb(200, 200, 200, 0.8);
}

th {
	height: 35px;
	background-color: rgb(100, 100, 100, 0.8);
}

tbody tr:hover {
	background-color: rgb(100, 100, 100, 0.7);
	cursor: pointer;
	color: darkred;
}

.myTable {
	width: 100%;
}


@media screen and (max-width: 768px /*sm*/), screen and (max-width: 900px) {
		
	.myTable {
		left: 5%;
		right: 5%;
	}
	
	table, thead, tbody, th, tr, td { display: block; }

	/*Nascondo header tabella*/
	thead tr {
		display : none;
	}

	tr { border: 1.5px solid rgb(100,100,100); }

	td {
		border: none;
		border-bottom: 1.5px solid rgb(100,100,100);
		position: relative;
		padding-left: 50%;
	}

	td:before {
		top: 6px;
		left: 6px;
		width: 45%; 
		position: absolute;
		padding-right: 10px; 
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Lavoro"; }
	td:nth-of-type(2):before { content: "Data"; }
	td:nth-of-type(3):before { content: "Luogo"; }
	td:nth-of-type(4):before { content: "Utente"; }
}
