.textModal-r {
	float: right;
}

.textModal-c {
    text-align: center;
}

.wait{
    display: none;
    position: absolute;
    display: fixed;
    height: 100%;
    width: 100%;
    z-index: 1050; 
}

.imgWait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55vh;
    
	width: 80px;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.mybutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.myModal {
    padding-top: 5px;
}

.myModal-mt {
	margin-top: 2.5%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

/* The Close Button (x) */
.myClose {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.myClose:hover, .myClose:focus {
    color: red;
    cursor: pointer;
}

/* Full-width input fields */
input[type=textModal], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	height: 15%;
	font-size: 12px;
}

#signupModal .avatar {
	width: 10%;
}

.signupText {
	font-size: 24px;
	font-weight: bold;
	color: green;
}

.mc-signup {
	width: 50%;
	margin: 2% auto 50% auto;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
		-webkit-transform: scale(0);
	} 
    to {
		-webkit-transform: scale(1);
	}
}
    
@keyframes animatezoom {
    from {
		transform: scale(0);
	} 
    to {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px /*sm*/) {
	.textModal-r {
		float: left;
	}
}
