.socialIconDim {
	width: 40px;
	height: 40px;	
}

.myFont {
	color: white;
	font: "Verdana";
}

.bigFont {
	font-size: 20px;
}

.logoDim {
	display: block;
	margin: auto;	
	width: 60px;
}

.footerCenter {
	text-align: center;
}
