#myContainerNavBar {
    position: relative;
    display: inline;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.btnSize {
	width: 110px;
}

.sizeTitle {
	width: 40px;
}

a:focus {
	outline: none;
}
