#myContainerNavBar {
    position: relative;
    display: inline;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.btnSize {
	width: auto;
}

.sizeTitle {
	width: 5vh;
}

a:focus {
	outline: none;
}

.clickable{
    cursor: pointer;
}