.myNavBar {
    min-height: 4em;
	max-height: 4em;
}

.myContainerNavBar {
	width: 97%;
	margin-left: 1.5%;
}

button:hover {
    opacity: 0.8;
}

.dimW100 {
    width: 100%;
}

.btnSize {
	width: auto;
}

.sizeTitle {
	width: 5vh;
}

a:focus {
	outline: none;
}

.clickable {
    cursor: pointer;
}
