#showMenu{
    position: fixed;
    z-index: 1;
    height: 100%; 
    width: 10px;
}

#menu{
    position: fixed;
    display: block;
    visibility: hidden;
    z-index: 1;
    height: 100%; 
    width: 310px;
    background-color: blue;
}