#showMenu {
    position: fixed;
    z-index: 1;
    height: 100%; 
    width: 10px;
}

#menu {
    position: fixed;
    display: none;
    z-index: 1;
    height: 100%; 
    width: 310px;
    background-color: rgb(52, 58, 64);
}

#optionMenu {
    height: auto;
    margin-top: 4.5em;
}

.buttonMenu {
    width: 100%;
    margin-top: 0.5em;
}

.myOver:hover {
    color: white;
}
